/* 언어설정 */
@charset 'utf-8';

/* 전체설정 */
* {
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
    color: #000;
}
ul, li {
    list-style: none;
}

/* 로고설정 */
.logo {}
.logo h1 {font-size: 30px;}
.logo a {}
/* 내비게이션 설정  */
button {
    padding: 6px 12px;
    border: solid 1px #aaa;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right:15px;
    top:20px;
}
button i {

}
button span {
    text-indent: -9999px;
    display: inline-block;

}


.gnb ul {
    display: flex;
    flex-direction: row;
}
.gnb ul li {}
.gnb ul li a {
    display: block;
    padding: 5px;
    font-size: 14px;
}
/* topImg 설정 */
.topImg {
    width:100%;
    height: auto;
    vertical-align: bottom;
}
/* news설정 */
.news {
    border:5px solid #ddd;
    padding: 20px;
}
.news h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 5px;
}
.news ul {
    
}
.news ul li {
    
}
.news ul li a {
    display: flex;
    padding: 5px;
    font-size: 14px;
    border-bottom: 2px dotted #ddd ;
}
.news ul li a time {
    color:#888;
    font-weight: bold;
    margin-right:10px;
}

/* copyright 설정 */
.copyright {

}
.copyright p {
    font-size: 14px;
    color:#666;
}

/* snss 설정 소셜 */
.sns {}
.sns ul {}
.sns ul li {}
.sns ul li a {
    display: block;
    padding: 10px;
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    color:#fff;
}
.sns ul li:nth-child(1) a {
    background-color: #1da1f2;
}
.sns ul li:nth-child(2) a {
    background-color: #1877f2;
}
.sns ul li:nth-child(3) a {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#99c6a9+0,b1c8ef+41,98b0d9+100 */
background: linear-gradient(to right,  #99c6a9 0%,#b1c8ef 41%,#98b0d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.sns ul li i {
    margin-right: 10px;
}


.sns_info {
    position: relative;
    background: #ddd;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    padding:10px;    
}
.sns_info:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #ddd;
    border-width: 15px;
    margin-left: -15px;
}

.box6-1 {}
.box6-2 {}
.box6-3 {}

/* 써머리설정 */
.summary {}
.summary a {
    display: block;
    background-color: #222;
    color: #fff;
    text-align: center;
    /* margin: 14px; */
}
/* 서브페이지 -사업소개페이지 설정 */
.sub_story {}
.sub_story h1, .history h1, .ask_info h1 {
    border-left: 20px solid #c50018;
    padding-left: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 36px;
}
.sub_story p {
    margin-bottom: 20px;
    max-width: 640px;
    font-size: 16px;
}
.sub_story p.lead {
    max-width: 100%;
    font-size: 20px;
    color: #666;
}
.sub_story img {
    width: 100%;
}
.sub_story h2 {
    margin-bottom: 20px;
    font-size: 28px;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    margin-top: 50px;
}

.sub_story i {
    color:#888;
    padding-right: 7px;
    /* margin-right: 7px; */
}
.history img {
    width:100%;
}
.history_info {
    margin-left: 20px;
}
.history_info h3 {
    padding-bottom: 20px;
}
.history_txt {
    padding: 10px;
    border:dotted 1px #ddd;
    margin-top: 20px;
}
.history_txt li {
    padding: 10px;
    font-size: 14px;
    padding-left: 10px;
}
.history_txt li time {
    font-weight: bold;
    color:#524e3c;
    border-left: 3px solid #8abc60;
    padding-left: 5px;
}
.ask_info {
    width: 100%;
}
.ask_info img {
    width:100%;
}
.ask_info h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ask_form {
    
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}
.ask_form li {
    padding-bottom: 14px;
}
.ask_form label {
    display: inline-block;
    width:100px;
    border-left: 3px solid #8abc60;
    padding-left: 5px;
}

.btn_area {
    display: block;
    width:100%;
    text-align: center;
    padding-top:50px;
}
.btn_area input {
    margin-left: 10px;
    padding: 5px 10px;
    color:#fff;
}
.btn_area input:nth-child(1) {   
    background-color: #8abc60;
   
}
.btn_area input:nth-child(2) {
    background-color: #ccc;
}
.sidemenu {
    border: solid 6px #ddd;
}
.sidemenu h3 {
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
}
.sidemenu i {
    margin-right: 5px;
    color: #8abc60;
    font-size: larger;
}
.sidemenu ul {}
.sidemenu ul li {

}
.sidemenu ul li a {
    display: block;
    padding: 10px;
    font-size: 14px;
    border-top: solid 1px #ddd;
}
.sidemenu ul li a:hover {
    background-color: #ddd;
}

/* 브레드메뉴 설정 */
.bread {
    margin-bottom: 20px;
}
.bread ol {display: flex;}
.bread ol li {}
.bread ol li a {
    display: inline-block;
    padding: 5px;
    font-size: 14px;
}
.bread ol li:after {
    content: '\003E';
    margin: 0 10px;
    color:#888;
}


.summary i {
    font-size: 38px;
    padding-top:40px;
    padding-bottom: 40px;
    display: block;
}
.fa-database {
    background-color: #bfbd13;
}
.fa-chart-column {
    background-color:#c58839;
}

.fa-clock {
    background-color:#859f46;
}
.summary h2 {
    padding: 5px 0;
    font-size: 20px;
    font-weight: normal;
}
.summary p {
    padding: 15px 0;
    font-size: 12px;
    background-color: #524e3c;

}

/* 회사연혁 */
.box8 {}



/* 박스5를 바형태로 디자인 */
.box5 {
    background-color: #ddd;
    padding:15px 0;
}
/* 박스의 왼쪽 오른쪽 여백 설정 */
.boxA, .box4, .box5,.box7, .box8, .box9 {
    padding-left: 15px;
    padding-right: 15px;
}
/* 박스의 위쪽 아래쪽 여백설정  */
.boxA {
    padding-top: 20px;
    padding-bottom: 10px;
}
.box4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.box6 {
    padding-top: 20px;
}
.box6-1, .box6-2, .box6-3,.box7-2 {
    margin-bottom: 10px;
}




/* 미디어쿼리 구간 ========================================================================================*/
/* 모바일구간 설정 */
@media(max-width:599px) {
   
} /*599px이하일때 설정 끝*/

/* 767이하 구간 */
@media(max-width:767px) {
    .box1 {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        
    }
    .gnb ul{
        display: flex;
        flex-direction: column;
    }
    .gnb ul li a {
        text-align: center;
        padding: 10px;
        border-bottom: 2px dotted #ddd;
    }
    .gnb {
        display: none;
    }
}


/* ===========태블릿구간 ==============*/
@media(min-width:768px){
    .gnb {
        display: block !important
    }
    
    button {
        display: none;
    }
    /*박스1 박스2 가로정렬 */
    .boxA-inner {
        display: flex;
        justify-content: space-between;
    }
    .boxA-innder>div {
        width:auto;
        /* 사이즈를 담고있는 내용까지만 채워라 */
    }
    /*.box1 {width:50%;}
      .box2 {width:50%;} */
    .box1 {

    }
    /*박스 4-1과 박스4-2의 가로정렬 */
    .box4 {display: flex;}
    .box4-1 {
        width: 70%;
        padding-right: 35px;
        box-sizing: border-box;
    }
    .box4-2 {
        width: 30%;
    }
/*  sub페이지의 7-1, 7-2의 가로정렬  */
    .box7, .box8, .box9 {
        display: flex;
        flex-direction: row-reverse;
    }
    .box7-1, .box8-1, .box9-1 {
        width:80%;
        padding-left:50px;
        box-sizing: border-box;
        /* 내부로 생기는 패딩 */
    }
    .box7-2 {
        width:20%;
    }



} /*768px이상일때 설정 끝*/

/* ============데스크탑구간==========  */
@media(min-width:1280px){

    .box3, .box4, .copyright, .boxA-inner, .box6,.box7, .box8, .box9 {
        width:1200px;
        margin:0 auto;
    }

    /* 박스a아래에 밑줄 추가 */
    .boxA {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }
     
    /* 박스6 설정 */

    .box6 {
        display: flex;
        justify-content: space-between;
    }
    .box6>div {
        width:32%;
    }

    


}/*1280px이하일때 설정 끝*/