/* 언어설정 */
@charset 'utf-8';

* {
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul, ol {
    list-style: none;
}

/* 헤더 */
.boxA {

    display: flex;
    margin-bottom:20px;
}
.boxA-inner {
    width:1200px;
    margin: 0 auto;
}
/* .boxA>div {width:50%;} */
.boxA .box1 {}
.boxA .box1 .logo {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.boxA .box2 {}
.boxA .gnb ul {display: flex;}
/* .boxA .gnb ul li {width:25%;box-sizing: border-box;} */
.boxA .gnb ul li a {
    display: block;
    padding: 10px;
    font-size: 14px;
    
}
.boxA .gnb ul li a:hover {
    padding-bottom:2px;
    border-bottom: 1px solid #666;
}

button {
    
    position: absolute;
    right:15px;
    top:20px;
}
button span {
    display: inline-block;
    text-indent: -9999px;
}

/* 본문 */
.box3 {
    
}
.box3 img {
    margin-top: 30px;
    width:100%;
    vertical-align: bottom;
}


.data_info {
    
    text-align: center;
    margin: 3px;
    margin-top: 20px;
    /* border: 1px solid #000; */
    /* padding: 20px; */

}
.data_info i {
    display: block;
    padding:30px;
    font-size: 40px;
}

.fa-database {background-color: #bfbd13;}
.fa-chart-column {background-color: #c58839;}
.fa-clock {background-color:#859f46 ;}

.data_info h2 {
    background-color: #444;
    color:#fff;
    font-size: 18px;
    padding: 5px;
}
.data_info p {
    background-color: #dedede;
    font-size: 14px;
    padding:5px;
}



.title_notice {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.notice {
    padding: 10px;
}

.notice a {
    display: block;
    color:#333;
    border-bottom: 1px dotted #212121;

}

.sns ul li a {
    display: block;
    color: #fff;
    width: 80%;
    margin: 10px auto;
    padding:5px;
    border-radius: 5px;
}
.sns ul li:nth-child(1) a {
    background-color: blue;
}
.sns ul li:nth-child(2) a {
    background-color: skyblue;
}
.sns ul li:nth-child(3) a {
    background-color: red;
}

.sns_title {
    position: relative;
    background: #ddd;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    padding:10px;    
}
.sns_title:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #ddd;
    border-width: 15px;
    margin-left: -15px;
}



/* 미디어쿼리 구간 */
@media(max-width:599px) {

}

@media(max-width:767px){
    .gnb ul {
        display: flex;
        flex-direction: column;
    }

    
    .gnb {
        display: none;
    }
}
@media(min-width:768px) {
    button {
        display: none;
    }
    .gnb {
        display: block !important
    }

    .boxA {
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    .boxA-inner {
        display: flex;
        justify-content: space-between;
    }
    /* .boxA {
        display: flex;
    } */
    .boxA-inner>div {width:auto;}
    .boxB {
        width:1200px;
        margin: 0 auto;
    }
    .data_area {
   
        display: flex;
        width:1200px;
        justify-content: space-between;
    }

    .data_info {
        width:32%;
    }
    
    .data_info h2 {}
    .data_info p {}

   

}

@media(min-width:1280px) {
    .boxA-inner>div {width:auto;}
    .boxB {
        width:1200px;
        margin: 0 auto;
    }
    footer .copyright {
        width:1200px;
        margin: 0 auto;
    }
    .box4 {
        display: flex;
        margin-top:20px;
        margin-bottom: 40px;
    
        box-sizing: border-box;
       
    }
    .notice {
        border: 5px solid #ddd;
        width:70%;
        margin-right: 2%;
        padding:20px;
    }
    .notice a time {
        color: red;
        font-weight:bold;
    }
    
    .sns {
        /* border: 2px solid #ddd; */
        width:28%;
    }
    /* 푸터 */
    .box5 {
        background-color: #ddd;
    }
    .copyright {
        
        padding:10px;
    }
    .copyright p {
        color: #666;
        font-size: 14px;
    }
}
