/* 언어설정 */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* css초기화 */
* {
    margin:0;
    padding:0; 
    border:0; 
    vertical-align: baseline;
    /* 중심라인을 맞추겠다 */
    background:transparent;
    /* 투명하게 만들겠다는 의미지만 기본값 */
 }
 a {
    text-decoration: none;
    color:#fff;
 }
 ul,ol {list-style: none;}
 body {
    font-family: "Nanum Gothic", sans-serif;
    background: url('../img/s_images/body_bg.png');
    line-height: 1; /*원래는 1.4가 기본값인데 좁혀놓고 시작*/
 }
 img {vertical-align: top;}

/* css초기화 끝 */

/* 전체 감싸는 wrap  */
#wrap {
    display: flex;
    width:80%;
    margin:0 auto;
    max-width: 1200px; /*1200이상은 커지지않도록 설정*/
    flex-direction: column;
    flex-wrap: nowrap;
}

.info {
    order:1;
    background-color: green;
}
.info .info_list {
    display: flex;
}
.info .info_list li {
    width:25%;
    text-align: center;
    padding:20px;
}
.info .info_list li a {}
.info .info_list li a img {}

.header {
    display: flex;
    flex-direction: column;
    order:2;
    /* background-color: green; */
    width:100%;
    height:auto;
    position: relative;
}
.header .logo {
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    /* width:15%; */
    height:80px;
    background-color: green;
    text-align: center;
}
.header .logo a {
    
}

.header .nav {
    width:100%;
    height:80px;
    /* background-color: green; */
    /* margin-left:15%; */
}
.header .nav .gnb {
    
}
.header .nav .gnb li {
    background-color: #222;
}
.header .nav .gnb li a {}